*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#0d0d0d;

    color:white;

    text-align:center;

    overflow-x:hidden;

}

.background-glow{

    position:fixed;

    width:600px;

    height:600px;

    background:#ff1b1b;

    filter:blur(180px);

    top:-250px;

    left:50%;

    transform:translateX(-50%);

    opacity:.25;

    z-index:-1;

}

header{

    padding:60px 25px;

}

.logo img{

    width:150px;

    margin-bottom:20px;

}

h1{

    font-size:42px;

    letter-spacing:4px;

    font-weight:800;

}

.subtitle{

    margin-top:12px;

    color:#d9d9d9;

    font-size:18px;

}

.buttons{

    width:90%;

    max-width:450px;

    margin:auto;

}

.btn{

    display:block;

    text-decoration:none;

    color:white;

    margin:18px 0;

    padding:18px;

    border-radius:18px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.12);

    backdrop-filter:blur(18px);

    transition:.3s;

    font-size:18px;

    font-weight:600;

}

.btn:hover{

    background:#ff2020;

    transform:scale(1.03);

}

.about{

    width:90%;

    max-width:700px;

    margin:70px auto;

}

.about h2{

    font-size:34px;

    margin-bottom:25px;

}

.about p{

    color:#d0d0d0;

    line-height:2;

}

footer{

    padding:40px;

    color:#888;

}
